*
{
	margin:0;
	padding:0;
	font-family:"Roboto",sans-serif;
}
header
{
	background-color: green;
	height:50px;
	margin-top:50px;
}
p
{
	padding:10px;
}
.data-get
{	
	border: 1px solid black;
	height: 300px;
	width:	500px;
	padding-top:50px;
	margin-left:50px;
	margin-right:375px;
	text-align:center;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.autocomplete {
	color:black;
  position: relative;
  display: inline-block;
}
.manage
{
	border: 1px solid black;
	height: 300px;
	width:	250px;
	padding-top:50px;
	margin-left:200px;
	margin-right:auto;
	text-align:center;
}
.manage-button
{
	padding: 5px 20px;
	font-family:"Roboto",sans-serif;
	font-size: 15px;
}
.data-button
{
	width:400px;
	color:white;
	background-color:black;
	border-style:hidden;
	padding: 5px 20px;
	font-family:"Roboto",sans-serif;
	font-size: 15px;
	margin:auto;
}
.data-button:hover
{
	color:black;
	background-color:white;
	border:1px solid black;
}
.navigation
{
	float:right;
	list-style:none;
	margin-top:20px;
}
.navigation li
{
	display:inline-block;
}
.content
{
	margin-left:auto;
	margin-right:auto;
	display:flex;
	padding-top:50px;
}
.content div
{
	float:none;
	border-radius:15px;
}
.forms button
{
	height:30px;
	width:70px;
	border-radius:10px;
	border:none;
}
.cancel-button:hover
{
	background-color:red;
}
.done-button:hover
{
	background-color:green;
}
.forms
{
	display: none;
  position:absolute;
    left: 0;
    top: 0;
	align:center;
	padding-top:300px;
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,255,0.5);
}
.form-container {
  max-width: 500px;
  padding: 10px;
  margin:auto;
  background-color: rgba(0,0,0,0.9);
  border-radius:25px;
  color:white;
}
.navigation li a
{
	color:white;
	text-decoration:none;
	padding: 5px 20px;
	font-family:"Roboto",sans-serif;
	font-size: 15px;
	
}
.navigation li a:hover
{
	border: 1px solid white;
}
body
{

}
.row
{
	max-width:1200px;
	margin:auto;
}

